    <footer>
      <p> All Rights Reserved. | Leonardo Medina © </p>
      <p><a className="f-connect"
        href="https://www.linkedin.com/in/medinaleonardo/"
        target="_blank"
        rel="noopener noreferrer" >CONNECT</a></p>
    </footer>