<% layout('./layouts/boilerplate'); %> <%- include('./components/navbar'); %>

<div class="hero">
  <img class="hero-image" src="/img/temp.jpg" alt="woman in dog park">
  <h1>Explore Dog Parks</h1>
</div class="hero">

<%- include('./components/footer') %> 
