<% layout('./layouts/boilerplate'); %> <%- include('./components/navbar'); %>

<div class="hero">
  <div class="hero-inside">
    <h1>Explore Parks</h1>
  </div>
</div class="hero">

<%- include('./components/footer') %> 
