<% layout('./layouts/boilerplate'); %> <%- include('./components/navbar'); %>

<section class="hero">
  <div class="hero-inside">
    <h1>Explore Parks</h1>
  </div>
</section class="hero">
<section class="locations">
  <h1>place 1</h1>
  <h1>place 2</h1>
  <h1>place 3</h1>
</section>

<%- include('./components/footer') %> 
