<% layout('layouts/boilerplate'); %> <%- include('partials/navbar'); %>

<section class="hero">
<%- include('./partials/search'); %>
</section>
<section class="latest">
  <h1>Recently Added:</h1>
  <div class="locations">
    <% for(let park of latestParks) { %>
    <h3><%= park.title %></h3>
    <% } %>
  </div>
</section>
