* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

body {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: 3.3fr 2fr .1fr;
  grid-template-areas:
    "hero hero hero"
    "latest latest latest"
    "footer footer footer ";
}

/* NAVIGATION SECTION */
nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  font-weight: 700;
  color: white;
  padding: 0.5rem 2rem;
  height: 2.5rem;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.logo-section {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  position: relative;
  background-image: url(/img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 35px;
  height: 25px;
}

.sub-nav {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.sub-nav h1 {
  padding-left: 2rem;
}

/* HERO SECTION */

.hero {
  background-image: url("/img/hero.jpg");
  background-size: cover;
  background-position: bottom;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end;
  grid-area: hero;
  padding: 2rem;
}

.hero form {
  color: white;
  font-size: 3.5rem;
  font-weight: 700;
}

.inner-form {
  background: #fff;
  margin-top: 1rem;
  border-radius: 34px;
  padding: 0.5rem;
  filter: drop-shadow(0 0 0.5rem black);
}

.input-field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

form input {
  color: #666;
  border: 0;
  flex-grow: 1;
}

form button {
  background: none;
  border: none;
}

.latest {
  grid-area: latest;
  margin: 2rem 2rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.latest h1 {
  padding-bottom: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.locations {
  grid-area: latest;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}

/* Card */

.card {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 250px;
  border-radius: 15px;
  background-color: white;
  filter: drop-shadow(0 0 0.2rem black);
  margin: 2rem 1rem;
}

.card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: block;
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 150px;
}

.card-content {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: solid 1px #666;
  padding: 0.8rem 1rem;
  display: block;
  background-color: white;
  height: 100%;
}

.card-content .title {
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
}

/* Footer */

footer {
  grid-area: footer;
  background-color: black;
  color: white;
  font-size: 0.6rem;
  padding: 0.8rem 2rem;
}
