* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

body {
  height: 100vh;
  grid-template-columns: repeat(auto-fit, 480px);
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas:
    "hero hero hero"
    "latest latest latest"
    "footer footer footer ";
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  font-weight: 400;
  color: white;
  padding: 0.5rem 5rem;
  height: 2.5rem;
}

.logo {
  position: relative;
  background-image: url(/img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
}

.sub-nav {
  text-transform: uppercase;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
}

.sub-nav h1 {
  padding-left: 2rem;
}

.hero {
  background-image: url("/img/temp.jpg");
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 700px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end;
  grid-area: hero;
  padding: 2rem 5rem;
}

.hero form {
  color: white;
  font-size: 4rem;
  font-weight: 700;
}

.inner-form {
  background: #fff;
  margin-top: 1rem;
  border-radius: 34px;
  padding: 0.5rem;
}

.input-field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

form input {
  color: #666;
  border: 0;
  flex-grow: 1;
}

form button {
  background: none;
  border: none;
}

.latest {
  grid-area: latest;
  padding: 3rem 5rem;
  height: 500px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

.latest h1 {
  padding-bottom: 3rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.locations {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

footer {
  background-color: black;
  color: white;
  grid-area: footer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 0.6rem;
  padding: 0.8rem 5rem;
}