<% layout('layouts/layout'); %> <%- include('../partials/navbar'); %>

<section class="hero dogparks"></section>
<section class="latest">
  <h1>All Parks:</h1>
  <div class="locations">
    <% for(let park of latestParks) { %>
    <div class="card">
      <img src=<%-park.imageLink %>>
      <div class="card-content">
        <h3 class="title"><%- park.title %></h3>
        <p><%- park.rating %></p>
      </div>
    </div>
    <% } %>
  </div>
</section>
